body {
    color: var(--text-primary);
    background-color: var(--color-secondary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--text-secondary);
}

/* this acts as a "virtual body" to make the website one page and seamless */
main {
    width: 60%;

    padding: 4em 0 2em;

    margin: auto;
}

.content {
    width: 100%;
}

.gutter {
    display: block;
    width: 90%;
    margin: 3em auto;
    border-top: 1px solid var(--color-primary);
}

/* NOTE: the first page CSS */
#js-hover-effect {
    position: absolute;
    z-index: 0;
    height: 20vmax;
    aspect-ratio: 1;

    /* background-color: white; */
    background: url(../resources/1538174404.svg);
    background-size: 500%;
    border-radius: 50%;

    filter: invert() brightness(.90);

    left: 50%;
    top: 50%;
    translate: -50% -50%;
}

#hover-effect-blur {
    top: 0px;

    height: 100%;
    width: 100%;
    position: absolute;

    z-index: 2;
    backdrop-filter: blur(1vmax);
}


#footer {
    position: relative;
    height: 9vh;
}

#footer div {
    position: absolute;
    width: fit-content;

    left: 50%;
    transform: translate(-50%, 0%);
    bottom: 0px;

    margin-top: auto;
    margin: auto;
}

#footer div>a {
    padding: .4em;

    color: var(--text-primary);
    text-decoration: none;
    font-size: .9em;
}

#footer div>a:hover {
    text-decoration: underline;
    cursor: pointer;
}